body{
    display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100vh;
}

form 
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  border: 1px solid black;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

.row
{
  height: 400px;
  width: 300px;
}
